body{
    background-color: #02010a;
}
#lista{
  list-style-type: none;
  color: inherit;
}
#lista li {
  display: inline;
  padding: 10px;
  font-size: 1.5vw;
}
a:visited{
  color: inherit;
}
a:active{
  text-decoration: none;
}
/*-----MOVIL-----*/
@media (max-width:899px){
  .contenido{
    width: 100%;
    font-family: Dancing Script;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    text-align: center;
    font-size: 3vw;
  }
  #lista li {
    font-size: 1.2em;
    padding: 25px;
  }
  #secundaria{
    flex-direction: column;
  }
}
/*-----DESKTOP-----*/
@media (min-width:900px){
  .contenido {
  	font-family: Dancing Script;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
  header h1{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin: 15px;
    font-size: 3vw;
  }
  ul{
    float: right;
  }
  #secundaria{
    flex-direction: row;
  }
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  height: 120px;
  color: white;
  text-shadow: 2px 0 2px #02010a;
}
.central{
  background-color: #82c3a6;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.central img{
  vertical-align: middle;
  height: 80%;
}
#secundaria{
  display: flex;
  background-color: #d5c75f;
  border: 1px;
}
#secundaria>div{
  width: 50%
}

.imgIzq{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.imgDer{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
